.App, html {
  text-align: center;
  background-color: rgb(233, 199, 199);
}

.headerContainer {
  display: flex;
  border: 1px solid rosybrown;
  border-bottom: none;
  background-color: rgb(116, 76, 76);
  color: #fff;
  line-height: 0;
  width: 60%;
  padding: 0px 30px;
  flex-direction: row;
  justify-content: space-between;
}
.previewHeaderContainer{
  width: 80%;
}

.editorContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#editor {
  text-align: left;
  width: 60%;
  border: 1px solid rosybrown;
  padding: 20px 30px;
  background-color: rgb(255, 227, 227);
  color: rgb(116, 76, 76);
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 15px 15px rgba(0, 0, 0, 0.12)
;
}

.previewContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

#preview {
  text-align: left;
  width: 80%;
  border: 1px solid rosybrown;
  padding: 20px 30px;
  background-color: rgb(255, 227, 227);
  margin-bottom: 30px;
  height: 500px;
  overflow: scroll;
  color: rgb(116, 76, 76);
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 15px 15px rgba(0, 0, 0, 0.12);
}

.clear {
  cursor: pointer;
}
